
.logo {
  margin: 72px auto 32px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  height: 32px;
}

.home {
  
}

.home-form {
  padding: 0.5rem 3rem;
  min-width: 224px;
}

.home-form .field:not(:last-child) {
  margin-bottom: 1.5rem;
}

.home-form input {
  width: 100%;
}

.home-form input[type="submit"], .home-form button {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-image: var(--secondary-background-color);
  font-size: $font-size-large;
  font-weight: 700;
  line-height: 16px;
  left: 0;
  color: var(--primary-text-color);
  border-bottom: none;
  background-image: linear-gradient(269deg, rgba(29,30,48,0.99) 2%, #17141D 98%);
  padding: $margin-block-vertical-large;
  z-index: 200;
}

.home-form button {
  border: 0;
  outline: none;
}

.home-form #direction-right {
  height: 16px;
  right: 16px;
  position: absolute;
}

#direction-right use {
  stroke: var(--primary);
}

.account-question {
  text-align: center;
  padding: $margin-block-vertical-large;
  background-color: var(--primary-background-color);

  p {
    font-size: $font-size-medium;
    line-height: $line-height-medium;
    color: var(--primary-text-color);
  }
}

.social-login {
  text-align: center;
  padding: $margin-block-vertical-medium;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;

  a {
    font-size: 13px;
    line-height: 10px;
  }

  svg {
    height: 16px;
    margin: 8px;
  }
}
