* {
  font-family: $main-font;
}

.game-title,
.review-title {
  font-family: $game-title-font;
  font-weight: 500;
}

p,
a,
button,
label,
input {
  font-weight: 400;
}

.section-title {
  color: #FFFFFF;
  margin: 0.5rem .5rem .5rem 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.20);
  padding: 0.5rem 0;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
}
