// Typography
$main-font: 'Lato', sans-serif;
$game-title-font: 'Barlow Condensed', sans-serif;

// Paddings
$padding-block-vertical-small: .5rem 0;
$padding-block-vertical-medium: 1rem 0;
$padding-block-vertical-large: 1.5rem 0;
$padding-block-horizontal-small: 0 .5rem;
$padding-block-horizontal-medium: 0 1rem;
$padding-block-horizontal-large: 0 1.5rem;

// Margins
$margin-block-vertical-small: .5rem 0;
$margin-block-vertical-medium: 1rem 0;
$margin-block-vertical-large: 1.5rem 0;
$margin-block-horizontal-small: 0 .5rem;
$margin-block-horizontal-medium: 0 1rem;
$margin-block-horizontal-large: 0 1.5rem;

// Line heights
$line-height-extra-small: 8px;
$line-height-small: 12px;
$line-height-medium: 16px;
$line-height-large: 18px;
$line-height-extra-large: 27px;

// Font sizes
$font-size-extra-small: 7px;
$font-size-small: 9px;
$font-size-medium: 13px;
$font-size-large: 15px;
$font-size-extra-large: 27px;
