.button {
  background: rgba(255,255,255,0.10);
  border: 1px solid #FFFFFF;
  padding: .25rem 1rem;
  text-align: center;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 16px;
  display: inline-block;
}
