.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

.main-menu {
  display: flex;
  justify-content: center;
  padding: $padding-block-vertical-small;
}

.main-menu-item:not(:last-child) {
  margin-right: 2.5rem;
}

.main-menu-link {
  font-size: $font-size-extra-small;
  line-height: $line-height-extra-small;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
}

.main-menu-link svg {
  width: 1rem;
  height: 1rem;
  margin-bottom: 0.5rem;
}
