.tile {

}

.tile-list {
  height: 128px;
}

.tile-game {
  position: relative;
  width: 88px;
  height: 128px;
  margin-right: 0.5rem;
  background-image: linear-gradient(180deg, rgba(29,30,48,0.99) 0%, #17141D 100%);
  background: rgba(0,0,0,0.25);
}

.tile-game-title {
  padding: .5rem 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  font-size: 9px;
  width: 88px;
  text-overflow: ellipsis;
}

.tile-game-cover {
  height: 100%;
  width: 88px;
}
