@import "base/reset";
@import "base/fonts";
@import "base/variables";
@import "base/typography";
@import "base/base";

@import "utils/helpers";
@import "utils/mixins";

@import "atoms/button";
@import "atoms/icon";
@import "atoms/input";
@import "atoms/label";

@import "molecules/user-avatar";
@import "molecules/navbar";
@import "molecules/tile";

@import "pages/home";

.field-genre-checkbox,
.field-platform-checkbox {
  input {
    display: none;

    &:checked + label {
      color: var(--on-primary);
      background-color: var(--primary);
    }
  }

  label {
    padding: 0.25rem 0.5rem;
    border: 1px solid var(--primary);
    font-size: 9px;
    color: var(--primary);
    display: inline-block;
    text-transform: uppercase;
    margin: 4px;
  }
}

.form-section {
  margin-bottom: 1rem;
}

.form-section-content-tags {
  display: flex;
  flex-wrap: wrap;
}

.games-form {
  margin-bottom: 1rem;
}

.games-list,
.users-list {
  li {
    padding: 0.5rem;
    background-color: var(--primary-background-color);
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 1rem;
    }
  }

  a {
    color: #ffffff;
    font-size: 13px;
  }
}

.search {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  input[type="search"] {
    border-bottom: none;
    padding: 1rem;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 16px;
    font-size: 7px;
    letter-spacing: 0.1rem;
    color: rgba(255, 255, 255, 0.5);

    &:focus {
      color: var(--primary);
    }
  }

  .close-search-results {
    background-color: var(--primary);
    color: #000;
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: block;
    padding: 0.25rem 1rem;
    font-size: 8px;
    text-transform: uppercase;
  }
}

.search-results {
  position: fixed;
  top: 48px;
  background-color: rgba(30, 30, 30, 0.7);
  -webkit-backdrop-filter: saturate(60%) blur(16px);
  backdrop-filter: saturate(60%) blur(16px);
  width: 100%;
  height: calc(100vh + 1rem);
  padding: 1rem;

  h2 {
    color: var(--primary);
  }

  .results {
    margin-bottom: 1rem;
    color: #ffffffaa;

    h3 {
      color: #ffffff;
      margin-bottom: 1rem;
      font-weight: 400;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-bottom: 0.5rem;
    }

    a {
      font-size: 13px;
      color: #ffffffaa;

      &:hover {
        color: var(--primary);
      }

      &:not(:last-child) {
        margin-bottom: 0.5rem;
        line-height: 16px;
      }
    }
  }
}

.room {
}

.chat {
}

.chat-users {
  li {
    border: 1px solid var(--primary);
    margin-right: 0.5rem;
    color: #ffffff;
    font-size: 9px;
    text-transform: uppercase;
    padding: 0.25rem 0.5rem;
  }
}

.chat-messages {
}

.chat-users-list {
  display: flex;
}

.chat-messages {
}

.other-profile *,
.user-reviews {
  color: #ffffffaa;
}

.home-game-section {
  color: #ffffffaa;
}

.review-tile {
  position: relative;
  border: 1px solid transparent;
}

.review-tile-game-cover {
  border: 1px solid transparent;
  filter: grayscale(1);
  opacity: 0.25;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.4);
}

.review-tile:hover {
  border-color: var(--primary);
}

.landing {
  color: #ffffffaa;
}

.scrollable-section {
  overflow: auto;

  img,
  video,
  iframe {
    // width: 300px;
    width: 268px;
    margin: 4px 8px;
    margin-left: 0;
  }
}

.scrollable-section ul {
  display: flex;
}

.game-section-content {
  line-height: 20px;
  font-size: 13px;
}

.game-section {
  color: #ffffffaa;
  padding-bottom: 1rem;
  margin: 1rem;

  p,
  li {
    line-height: 20px;
    font-size: 13px;
  }

  p {
    margin-bottom: 8px;
  }
}

.media {
  margin-right: 0 !important;
}

.game-subsection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.similar-games {
  display: flex;
  flex-wrap: wrap;

  li {
    width: 33.33%;
    font-size: 9px;
    line-height: 13px;
    margin-bottom: 8px;
  }

  a {
    color: rgba(255, 255, 255, 0.8);
  }

  span {
    padding: 8px 0;
    display: block;
  }

  img {
    // width: 100%;
    width: calc(100% - 8px);
  }
}

.inner-title {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.8);
  margin: 8px 0;
  /* text-transform: uppercase; */
}

.review-tile-content {
  display: flex;
  color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 1rem;
}

.review-tile-rating {
  margin-right: 1rem;
}

.review-title-resume {
  z-index: 100;

  h2 {
    margin-bottom: 0.5rem;
  }

  p {
    color: #ffffffaa;
  }
}

.home-section {
  margin-left: 8px;
  margin: 0.5rem 0 0.5rem 0.5rem;
}

.tile-list {
  display: flex;
  overflow: auto;
  padding-right: 0.5rem;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  // height: 100vh;
  height: 50vh;
  position: relative;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
  z-index: 1;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 1rem;
}

.hero-media {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.hero-media::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent !important;
  /* background-image: -webkit-gradient(linear, left bottom, left top, from(#141618), color-stop(80%, transparent)) !important; */
  bottom: 0;
  left: 0;
  // background: -webkit-gradient(linear, left bottom, left top, color-stop(13%, #141618), to(transparent));
  background: linear-gradient(0deg, #1f2132 0%, transparent 100%);
  position: absolute;
}

.hero-media img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  width: 100%;
  height: 100%;
  filter: grayscale(0.5) saturate(0);
  opacity: 0.25;
  transition: opacity 6s;
}

.game-actions {
  background-color: rgba(0, 0, 0, 0.1);
}

.game-actions-status {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 24px;
}

.game-actions > div:first-child {
  padding: 8px 16px;
  color: #ffffff;
  margin: 16px 0;
  margin-top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.game-header-image {
  margin-right: 1rem;
}

.game-header-image img {
  width: 80px;
  height: 112px;
}

.game-platforms a {
  font-size: 9px;
  text-transform: uppercase;
}

// filter: grayscale(.5) saturate(0);
// background-image: linear-gradient(to bottom, transparent, #1f2132);

@import "themes/dark";
