/* autoprefixer grid: on */

* {
  // margin: 0;
  // padding: 0;
  box-sizing: border-box;
  // background-color: #F8F8F8;
}

.game-enter {
  transition: opacity 1s;
  animation: gameEnter 1s forwards;
}

@keyframes gameEnter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  display: grid;
  background: #1a1e21;
  font-family: Lato-Regular;
  color: #ffffff;
  letter-spacing: 0;
}

a {
  text-decoration: none;
}

.user-avatar {
  width: 32px;
    height: 32px;
    background: #00FF68;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */

    font-family: Lato-Black;
font-size: 13px;
color: rgba(0,0,0,0.80);
// letter-spacing: 2px;
line-height: 17px;
}

.tile {
  background: rgba(0, 0, 0, 0.25);
}